LLM_BASE_URL=http://localhost:8010/v1
LLM_MODEL=local-model
LLM_TEMPERATURE=1
LLM_API_KEY=norequiered

TTS_BASE_URL=http://localhost:8019/v1
TTS_VOICE=serena
TTS_SEED=42
TTS_TEMPERATURE=0.8
TTS_RESPONSE_FORMAT=wav
